/*CSS for Colors and Sizes*/

/*font colors*/
.color-neutral{color:#EEE;}
.color-white{color:#FFF;}
.color-yellow{color:#FFFF00;}
.color-pink{color:#FFC0CB;}
.color-grey{color:#808080;}
.color-gray{color:#808080;}
.color-orange{color:#FFA500;}
.color-blue{color:#0000FF;}
.color-green{color:#008000;}
.color-purple{color:#800080;}
.color-brown{color:#A52A2A;}
.color-clack{color:#000;}
.color-red{color:#FF0000;}
.color-Cyan{color:#00FFFF;}
.color-teal{color:#008080;}
.color-AliceBlue{color:#F0F8FF;}
.color-AntiqueWhite{color:#FAEBD7;}
.color-Aqua{color:#00FFFF;}
.color-Aquamarine{color:#7FFFD4;}
.color-Azure{color:#F0FFFF;}
.color-ceige{color:#F5F5DC;}
.color-cisque{color:#FFE4C4;}
.color-clanchedAlmond{color:#FFEBCD;}
.color-clueViolet{color:#8A2BE2;}
.color-curlyWood{color:#DEB887;}
.color-CadetBlue{color:#DEB887;}
.color-Chartreuse{color:#7FFF00;}
.color-Chocolate{color:#D2691E;}
.color-Coral{color:#FF7F50;}
.color-CornflowerBlue{color:#6495ED;}
.color-Cornsilk{color:#FFF8DC;}
.color-Crimson{color:#DC143C;}
.color-darkBlue{color:#00008B;}
.color-darkCyan{color:#008B8B;}
.color-darkGoldenRod{color:#B8860B;}
.color-darkGray{color:#A9A9A9;}
.color-darkGrey{color:#A9A9A9;}
.color-darkGreen{color:#006400;}
.color-darkKhaki{color:#BDB76B;}
.color-darkMagenta{color:#8B008B;}
.color-darkOliveGreen{color:#556B2F;}
.color-darkOrange{color:#FF8C00;}
.color-darkOrchid{color:#9932CC;}
.color-darkRed{color:#8B0000;}
.color-darkSalmon{color:#E9967A;}
.color-darkSeaGreen{color:#8FBC8F;}
.color-darkSlateBlue{color:#483D8B;}
.color-darkSlateGray{color:#2F4F4F;}
.color-darkSlateGrey{color:#2F4F4F;}
.color-darkTurquoise{color:#00CED1;}
.color-darkViolet{color:#9400D3;}
.color-deepPink{color:#FF1493;}
.color-deepSkyBlue{color:#00BFFF;}
.color-dimGray{color:#696969;}
.color-dimGrey{color:#696969;}
.color-dodgerBlue{color:#1E90FF;}
.color-fireBrick{color:#B22222;}
.color-floralWhite{color:#FFFAF0;}
.color-forestGreen{color:#228B22;}
.color-fuchsia{color:#FF00FF;}
.color-gainsboro{color:#DCDCDC;}
.color-ghostWhite{color:#F8F8FF;}
.color-gold{color:#FFD700;}
.color-goldenRod{color:#DAA520;}
.color-greenYellow{color:#ADFF2F;}
.color-honeyDew{color:#F0FFF0;}
.color-hotPink{color:#FF69B4;}
.color-indianRed{color:#CD5C5C;}
.color-indigo{color:#4B0082;}
.color-ivory{color:#FFFFF0;}
.color-khaki{color:#F0E68C;}
.color-lavender{color:#E6E6FA;}
.color-lavenderBlush{color:#FFF0F5;}
.color-lawnGreen{color:#7CFC00;}
.color-lemonChiffon{color:#FFFACD;}
.color-lightBlue{color:#ADD8E6;}
.color-lightCoral{color:#F08080;}
.color-lightCyan{color:#E0FFFF;}
.color-lightGoldenRodYellow{color:#FAFAD2;}
.color-lightGray{color:#D3D3D3;}
.color-lightGrey{color:#D3D3D3;}
.color-lightGreen{color:#90EE90;}
.color-lightPink{color:#FFB6C1;}
.color-lightSalmon{color:#FFA07A;}
.color-lightSeaGreen{color:#20B2AA;}
.color-lightSkyBlue{color:#87CEFA;}
.color-lightSlateGray{color:#778899;}
.color-lightSlateGrey{color:#778899;}
.color-lightSteelBlue{color:#B0C4DE;}
.color-lightYellow{color:#FFFFE0;}
.color-lime{color:#00FF00;}
.color-limeGreen{color:#32CD32;}
.color-linen{color:#FAF0E6;}
.color-magenta{color:#FF00FF;}
.color-maroon{color:#800000;}
.color-mediumAquaMarine{color:#66CDAA;}
.color-mediumBlue{color:#0000CD;}
.color-mediumOrchid{color:#BA55D3;}
.color-mediumPurple{color:#9370DB;}
.color-mediumSeaGreen{color:#3CB371;}
.color-mediumSlateBlue{color:#7B68EE;}
.color-mediumSlateBlue{color:#7B68EE;}
.color-mediumSpringGreen{color:#00FA9A;}
.color-mediumTurquoise{color:#48D1CC;}
.color-mediumVioletRed{color:#C71585;}
.color-midnightBlue{color:#191970;}
.color-mintCream{color:#F5FFFA;}
.color-mistyRose{color:#FFE4E1;}
.color-moccasin{color:#FFE4B5;}
.color-navajoWhite{color:#FFDEAD;}
.color-navy{color:#000080;}
.color-oldLace{color:#FDF5E6;}
.color-olive{color:#808000;}
.color-oliveDrab{color:#6B8E23;}
.color-orangeRed{color:#FF4500;}
.color-orchid{color:#DA70D6;}
.color-paleGoldenRod{color:#EEE8AA;}
.color-paleGreen{color:#98FB98;}
.color-paleTurquoise{color:#AFEEEE;}
.color-paleVioletRed{color:#DB7093;}
.color-papayaWhip{color:#FFEFD5;}
.color-peachPuff{color:#FFDAB9;}
.color-peru{color:#CD853F;}
.color-plum{color:#DDA0DD;}
.color-powderBlue{color:#B0E0E6;}
.color-rosyBrown{color:#BC8F8F;}
.color-royalBlue{color:#4169E1;}
.color-saddleBrown{color:#8B4513;}
.color-salmon{color:#FA8072;}
.color-sandyBrown{color:#F4A460;}
.color-seaGreen{color:#2E8B57;}
.color-seaShell{color:#FFF5EE;}
.color-sienna{color:#A0522D;}
.color-silver{color:#C0C0C0;}
.color-skyBlue{color:#87CEEB;}
.color-slateBlue{color:#6A5ACD;}
.color-slateGray{color:#708090;}
.color-slateGrey{color:#708090;}
.color-snow{color:#FFFAFA;}
.color-springGreen{color:#00FF7F;}
.color-steelBlue{color:#4682B4;}
.color-tan{color:#D2B48C;}
.color-thistle{color:#D8BFD8;}
.color-tomato{color:#FF6347;}
.color-turquoise{color:#40E0D0;}
.color-violet{color:#EE82EE;}
.color-wheat{color:#F5DEB3;}
.color-whiteSmoke{color:#F5F5F5;}
.color-yellowGreen{color:#9ACD32;}

/*background colors*/
.bgColor-neutral{background-color:#EEE;}
.bgColor-white{background-color:#FFF;}
.bgColor-yellow{background-color:#FFFF00;}
.bgColor-pink{background-color:#FFC0CB;}
.bgColor-grey{background-color:#808080;}
.bgColor-gray{background-color:#808080;}
.bgColor-orange{background-color:#FFA500;}
.bgColor-blue{background-color:#0000FF;}
.bgColor-green{background-color:#008000;}
.bgColor-purple{background-color:#800080;}
.bgColor-brown{background-color:#A52A2A;}
.bgColor-clack{background-color:#000;}
.bgColor-red{background-color:#FF0000;}
.bgColor-Cyan{background-color:#00FFFF;}
.bgColor-teal{background-color:#008080;}
.bgColor-AliceBlue{background-color:#F0F8FF;}
.bgColor-AntiqueWhite{background-color:#FAEBD7;}
.bgColor-Aqua{background-color:#00FFFF;}
.bgColor-Aquamarine{background-color:#7FFFD4;}
.bgColor-Azure{background-color:#F0FFFF;}
.bgColor-ceige{background-color:#F5F5DC;}
.bgColor-cisque{background-color:#FFE4C4;}
.bgColor-clanchedAlmond{background-color:#FFEBCD;}
.bgColor-clueViolet{background-color:#8A2BE2;}
.bgColor-curlyWood{background-color:#DEB887;}
.bgColor-CadetBlue{background-color:#DEB887;}
.bgColor-Chartreuse{background-color:#7FFF00;}
.bgColor-Chocolate{background-color:#D2691E;}
.bgColor-Coral{background-color:#FF7F50;}
.bgColor-CornflowerBlue{background-color:#6495ED;}
.bgColor-Cornsilk{background-color:#FFF8DC;}
.bgColor-Crimson{background-color:#DC143C;}
.bgColor-darkBlue{background-color:#00008B;}
.bgColor-darkCyan{background-color:#008B8B;}
.bgColor-darkGoldenRod{background-color:#B8860B;}
.bgColor-darkGray{background-color:#A9A9A9;}
.bgColor-darkGrey{background-color:#A9A9A9;}
.bgColor-darkGreen{background-color:#006400;}
.bgColor-darkKhaki{background-color:#BDB76B;}
.bgColor-darkMagenta{background-color:#8B008B;}
.bgColor-darkOliveGreen{background-color:#556B2F;}
.bgColor-darkOrange{background-color:#FF8C00;}
.bgColor-darkOrchid{background-color:#9932CC;}
.bgColor-darkRed{background-color:#8B0000;}
.bgColor-darkSalmon{background-color:#E9967A;}
.bgColor-darkSeaGreen{background-color:#8FBC8F;}
.bgColor-darkSlateBlue{background-color:#483D8B;}
.bgColor-darkSlateGray{background-color:#2F4F4F;}
.bgColor-darkSlateGrey{background-color:#2F4F4F;}
.bgColor-darkTurquoise{background-color:#00CED1;}
.bgColor-darkViolet{background-color:#9400D3;}
.bgColor-deepPink{background-color:#FF1493;}
.bgColor-deepSkyBlue{background-color:#00BFFF;}
.bgColor-dimGray{background-color:#696969;}
.bgColor-dimGrey{background-color:#696969;}
.bgColor-dodgerBlue{background-color:#1E90FF;}
.bgColor-fireBrick{background-color:#B22222;}
.bgColor-floralWhite{background-color:#FFFAF0;}
.bgColor-forestGreen{background-color:#228B22;}
.bgColor-fuchsia{background-color:#FF00FF;}
.bgColor-gainsboro{background-color:#DCDCDC;}
.bgColor-ghostWhite{background-color:#F8F8FF;}
.bgColor-gold{background-color:#FFD700;}
.bgColor-goldenRod{background-color:#DAA520;}
.bgColor-greenYellow{background-color:#ADFF2F;}
.bgColor-honeyDew{background-color:#F0FFF0;}
.bgColor-hotPink{background-color:#FF69B4;}
.bgColor-indianRed{background-color:#CD5C5C;}
.bgColor-indigo{background-color:#4B0082;}
.bgColor-ivory{background-color:#FFFFF0;}
.bgColor-khaki{background-color:#F0E68C;}
.bgColor-lavender{background-color:#E6E6FA;}
.bgColor-lavenderBlush{background-color:#FFF0F5;}
.bgColor-lawnGreen{background-color:#7CFC00;}
.bgColor-lemonChiffon{background-color:#FFFACD;}
.bgColor-lightBlue{background-color:#ADD8E6;}
.bgColor-lightCoral{background-color:#F08080;}
.bgColor-lightCyan{background-color:#E0FFFF;}
.bgColor-lightGoldenRodYellow{background-color:#FAFAD2;}
.bgColor-lightGray{background-color:#D3D3D3;}
.bgColor-lightGrey{background-color:#D3D3D3;}
.bgColor-lightGreen{background-color:#90EE90;}
.bgColor-lightPink{background-color:#FFB6C1;}
.bgColor-lightSalmon{background-color:#FFA07A;}
.bgColor-lightSeaGreen{background-color:#20B2AA;}
.bgColor-lightSkyBlue{background-color:#87CEFA;}
.bgColor-lightSlateGray{background-color:#778899;}
.bgColor-lightSlateGrey{background-color:#778899;}
.bgColor-lightSteelBlue{background-color:#B0C4DE;}
.bgColor-lightYellow{background-color:#FFFFE0;}
.bgColor-lime{background-color:#00FF00;}
.bgColor-limeGreen{background-color:#32CD32;}
.bgColor-linen{background-color:#FAF0E6;}
.bgColor-magenta{background-color:#FF00FF;}
.bgColor-maroon{background-color:#800000;}
.bgColor-mediumAquaMarine{background-color:#66CDAA;}
.bgColor-mediumBlue{background-color:#0000CD;}
.bgColor-mediumOrchid{background-color:#BA55D3;}
.bgColor-mediumPurple{background-color:#9370DB;}
.bgColor-mediumSeaGreen{background-color:#3CB371;}
.bgColor-mediumSlateBlue{background-color:#7B68EE;}
.bgColor-mediumSlateBlue{background-color:#7B68EE;}
.bgColor-mediumSpringGreen{background-color:#00FA9A;}
.bgColor-mediumTurquoise{background-color:#48D1CC;}
.bgColor-mediumVioletRed{background-color:#C71585;}
.bgColor-midnightBlue{background-color:#191970;}
.bgColor-mintCream{background-color:#F5FFFA;}
.bgColor-mistyRose{background-color:#FFE4E1;}
.bgColor-moccasin{background-color:#FFE4B5;}
.bgColor-navajoWhite{background-color:#FFDEAD;}
.bgColor-navy{background-color:#000080;}
.bgColor-oldLace{background-color:#FDF5E6;}
.bgColor-olive{background-color:#808000;}
.bgColor-oliveDrab{background-color:#6B8E23;}
.bgColor-orangeRed{background-color:#FF4500;}
.bgColor-orchid{background-color:#DA70D6;}
.bgColor-paleGoldenRod{background-color:#EEE8AA;}
.bgColor-paleGreen{background-color:#98FB98;}
.bgColor-paleTurquoise{background-color:#AFEEEE;}
.bgColor-paleVioletRed{background-color:#DB7093;}
.bgColor-papayaWhip{background-color:#FFEFD5;}
.bgColor-peachPuff{background-color:#FFDAB9;}
.bgColor-peru{background-color:#CD853F;}
.bgColor-plum{background-color:#DDA0DD;}
.bgColor-powderBlue{background-color:#B0E0E6;}
.bgColor-rosyBrown{background-color:#BC8F8F;}
.bgColor-royalBlue{background-color:#4169E1;}
.bgColor-saddleBrown{background-color:#8B4513;}
.bgColor-salmon{background-color:#FA8072;}
.bgColor-sandyBrown{background-color:#F4A460;}
.bgColor-seaGreen{background-color:#2E8B57;}
.bgColor-seaShell{background-color:#FFF5EE;}
.bgColor-sienna{background-color:#A0522D;}
.bgColor-silver{background-color:#C0C0C0;}
.bgColor-skyBlue{background-color:#87CEEB;}
.bgColor-slateBlue{background-color:#6A5ACD;}
.bgColor-slateGray{background-color:#708090;}
.bgColor-slateGrey{background-color:#708090;}
.bgColor-snow{background-color:#FFFAFA;}
.bgColor-springGreen{background-color:#00FF7F;}
.bgColor-steelBlue{background-color:#4682B4;}
.bgColor-tan{background-color:#D2B48C;}
.bgColor-thistle{background-color:#D8BFD8;}
.bgColor-tomato{background-color:#FF6347;}
.bgColor-turquoise{background-color:#40E0D0;}
.bgColor-violet{background-color:#EE82EE;}
.bgColor-wheat{background-color:#F5DEB3;}
.bgColor-whiteSmoke{background-color:#F5F5F5;}
.bgColor-yellowGreen{background-color:#9ACD32;}

/*font sizes*/
.size-100{font-size:100%;}
.size-110{font-size:110%;}
.size-120{font-size:120%;}
.size-130{font-size:130%;}
.size-140{font-size:140%;}
.size-150{font-size:150%;}
.size-160{font-size:160%;}
.size-170{font-size:170%;}
.size-180{font-size:180%;}
.size-190{font-size:190%;}
.size-200{font-size:200%;}

.size-210{font-size:210%;}
.size-220{font-size:220%;}
.size-230{font-size:230%;}
.size-240{font-size:240%;}
.size-250{font-size:250%;}
.size-260{font-size:260%;}
.size-270{font-size:270%;}
.size-280{font-size:280%;}
.size-290{font-size:290%;}
.size-300{font-size:300%;}

.size-310{font-size:310%;}
.size-320{font-size:320%;}
.size-330{font-size:330%;}
.size-340{font-size:340%;}
.size-350{font-size:350%;}
.size-360{font-size:360%;}
.size-370{font-size:370%;}
.size-380{font-size:380%;}
.size-390{font-size:390%;}
.size-400{font-size:400%;}

.size-410{font-size:410%;}
.size-420{font-size:420%;}
.size-430{font-size:430%;}
.size-440{font-size:440%;}
.size-450{font-size:450%;}
.size-460{font-size:460%;}
.size-470{font-size:470%;}
.size-480{font-size:480%;}
.size-490{font-size:490%;}
.size-500{font-size:500%;}
.size-600{font-size:600%;}
.size-700{font-size:700%;}
.size-800{font-size:800%;}
.size-900{font-size:900%;}
.size-1000{font-size:1000%;}
